.featured-items__btn {
  background-color: transparent;
  border: 1px solid #ff6a6a;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding: 14px 38.5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.featured-items__btn:hover {
  color: #fff;
  background-color: #ff6a6a;
}
