$widthForPC: 1140px;
$widthForTablet: 984px;
$brakePointforTablet: 768px;
$widthForMobile: 767px;
$brakePointforMobile: 375px;

$mainFont: 'Lato', Arial, Helvetica, sans-serif;

$lightColor: #fbfbfb;
$darkColor: #222222;
$mainColor: #f16d7f;
$grayColor: #5d5d5d;
$colorForInputs: #e1e1e1;
$colorForSectionBackgroundAlpha: #f8f3f4;
