.featured-items__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 49px;
}

@media screen and (max-width: 984px) {
  .featured-items__cards {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 767px) {
  .featured-items__cards {
    grid-template-columns: 359px;
    margin-bottom: 41px;
  }
}
