.center {
  box-sizing: border-box;
  padding-left: calc(50% - $widthForPC / 2);
  padding-right: calc(50% - $widthForPC / 2);
}

@media screen and (max-width: $brakePointforTablet) {
  .center {
    padding-left: calc(50% - ($widthForTablet - 32px) / 2);
    padding-right: calc(50% - ($widthForTablet - 32px) / 2);
  }
}

@media screen and (max-width: $brakePointforMobile) {
  .center {
    padding-left: calc(50% - ($widthForMobile - 32px) / 2);
    padding-right: calc(50% - ($widthForMobile - 32px) / 2);
  }
}
