.cart {
  font-family: 'Lato';
  display: flex;
  gap: 129px;
  padding-top: 96px;
  padding-bottom: 128px;
  &__items {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  &__items-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 32.5px;
  }
  &__items-btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $darkColor;
    padding: 16px 40px;
    background-color: transparent;
    border: 1px solid $grayColor;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__items-btn:hover {
    background-color: $mainColor;
    color: $lightColor;
    border-color: $mainColor;
  }
  &__item {
    display: flex;
    width: 652px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  }
  &___item-img {
    width: 262px;
  }
  &__item-description {
    margin: 22px 0 22px 31px;
  }
  &__item-title {
    margin: 0 0 42px 0;
    max-width: 200px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $darkColor;
  }
  &__item-characteristic-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__item-characteristic {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: $grayColor;

    &-quantity {
      display: flex;
      gap: 24px;

      &-input {
        box-sizing: border-box;
        border: 1px solid $grayColor;
        width: 43px;
        padding-left: 15px;
        color: $grayColor;
      }
      &-input::-webkit-inner-spin-button,
      &-input::-webkit-outer-spin-button {
        display: none;
      }
    }
    &_color {
      &_main {
        color: $mainColor;
      }
    }
  }

  &__item-close-btn {
    margin: 28px 22px 0 0;
    margin-left: auto;
    padding: 0;
    display: flex;
    align-self: flex-start;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.5s;
  }

  &__item-close-btn:hover {
    transform: rotate(360deg);
  }

  &__order {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 58px;
    &-form {
      display: flex;
      flex-direction: column;
      gap: 22px;
      & input {
        padding: 13px 17px;
        border: 1px solid $grayColor;
      }
      & input::placeholder {
        color: $colorForInputs;
      }
      &-title {
        margin: 0;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $darkColor;
      }
      &-btn {
        text-transform: uppercase;
        margin: 0 auto 0 0;
        padding: 10px 15px;
        border: 1px solid $grayColor;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: $grayColor;
        background-color: transparent;
        transition: all 0.3s;
      }

      &-btn:hover {
        background-color: $mainColor;
        color: $lightColor;
        border-color: $mainColor;
      }
    }
    &-confirm {
      background-color: #f5f3f3;
      padding: 39px 34px 42px 44px;
      display: flex;
      flex-direction: column;
      &-totals {
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-bottom: 1px solid red;
        padding-bottom: 21px;
        margin-bottom: 17px;
      }
      &-subtotal {
        margin: 0;
        text-align: right;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
        &-cost::before {
          content: '';
          margin-left: 20px;
        }
      }
      &-grandtotal {
        margin: 0;
        text-align: right;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        &-cost {
          font-weight: bold;
          color: $mainColor;
        }
        &-cost::before {
          content: '';
          margin-left: 20px;
        }
      }
      &-btn {
        background-color: $mainColor;
        border: none;
        text-transform: uppercase;
        color: $lightColor;
        padding: 15px 0;
        cursor: pointer;
        transition: all 0.3s;
      }
      &-btn:hover {
        background-color: transparent;
        color: $darkColor;
        border: 1px solid $darkColor;
      }
    }
  }
}
