.header__right-side-profile-btn {
  background-image: url('../../../img/profile-ico.svg');
  background-size: 29px;
}

@media screen and (max-width: 767px) {
  .header__right-side-profile-btn {
    position: absolute;
    visibility: hidden;
  }
}
