.features {
  font-family: 'Lato';
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

@media screen and (max-width: 984px) {
  .features {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .features {
    gap: 46px;
    padding-bottom: 81px;
  }
}
