.breadcrumbs {
  font-family: $mainFont;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $colorForSectionBackgroundAlpha;

  &__item {
    white-space: nowrap;
  }

  &__item:not(:last-child):after {
    content: '/';
    padding-right: 8px;
    padding-left: 8px;
  }

  &__item:last-of-type &__item-link {
    color: $mainColor;
    font-weight: bold;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $mainColor;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 0.2em;
  }

  &__item-link {
    text-decoration: none;
    color: $grayColor;
  }

  &__item-link:hover {
    color: $mainColor;
  }
}

@media screen and (max-width: $brakePointforMobile) {
  .breadcrumbs {
    max-height: 148px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
}
