.header {
  font-family: $mainFont;
  background-color: $darkColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  &__btn {
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: none;
    width: 32px;
    height: 29px;
    cursor: pointer;
    transition: opacity 0.3s;
  }

  &__btn:hover {
    opacity: 0.3;
  }

  &__left-side {
    display: flex;
    align-items: center;
    gap: 41px;
  }

  &__left-side-logo-link {
    display: flex;
  }

  &__left-side-search-btn {
    background-image: url('../img/search-ico.svg');
    background-size: 26px;
  }

  &__right-side {
    display: flex;
    gap: 33px;
    &-cart-count {
      display: flex;
      color: #ffffff;
      background-color: $mainColor;
      border-radius: 50%;
      width: 19px;
      height: 19px;
      font-family: $mainFont;
      font-size: 12px;
      line-height: 14px;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -8px;
      right: -10px;
      visibility: hidden;
      opacity: 0;
      &_active {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__right-side-burger-btn {
    background-image: url('../img/burger-ico.svg');
    pointer-events: none;
    display: block;
  }

  &__right-side-burger-checkbox {
    position: absolute;
    left: -999999px;
    visibility: hidden;
  }

  &__right-side-burger-checkbox:checked ~ .popup__menu {
    visibility: visible;
    opacity: 1;
    right: 0;
  }

  &__right-side-cart-btn {
    position: relative;
    background-image: url('../img/cart-ico.svg');
  }

  &__right-side-profile-btn {
    background-image: url('../img/profile-ico.svg');
    background-size: 29px;
  }
}

@media screen and (max-width: $brakePointforMobile) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;

    &__right-side-profile-btn,
    &__right-side-cart-btn {
      position: absolute;
      visibility: hidden;
    }
  }
}
