.featured-items {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .featured-items {
    margin-bottom: 85px;
  }
}
