.welcome {
  font-family: $mainFont;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: $colorForSectionBackgroundAlpha;
  overflow: hidden;

  &__title {
    margin: 0;
    position: relative;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: $darkColor;
    width: 372px;
    padding-left: 28px;

    &_color {
      &_pink {
        color: $mainColor;
      }
    }

    &_size {
      &_s {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
      }
    }
  }

  &__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 100%;
    background-color: $mainColor;
  }

  @media screen and (max-width: $brakePointforTablet) {
    .welcome {
      &__img {
        height: 368px;
      }

      &__title {
        font-size: 44px;
        line-height: 28px;
        width: 283px;
        &_size {
          &_s {
            font-size: 24px;
            line-height: 29px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $brakePointforMobile) {
    .welcome {
      justify-content: center;
      &__img {
        position: absolute;
        visibility: hidden;
      }

      &__title {
        font-size: 38px;
        line-height: 26px;
        width: 236px;
        margin: 148px 0;
        &_size {
          &_s {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
