.subscribe__right-form-input {
  padding: 0 0 0 17px;
  width: 256px;
  height: 52px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 18px 0 0 18px;
}

.subscribe__right-form-input::placeholder {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}
