.subscribe__right-form-button {
  border: none;
  background-color: #f16d7f;
  padding: 15px 18px;
  border-radius: 0px 18px 18px 0px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}
.subscribe__right-form-button:hover {
  color: #f16d7f;
  background-color: #fff;
}
