@charset "UTF-8";
@import url("../vendor/normalize.css");
.page__wrapper {
  position: relative;
  overflow: hidden;
}

.center {
  box-sizing: border-box;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

@media screen and (max-width: 984px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
}
@media screen and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
}
.content {
  position: relative;
}

.header {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: #222222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__btn {
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
  width: 32px;
  height: 29px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.header__btn:hover {
  opacity: 0.3;
}
.header__left-side {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__left-side-logo-link {
  display: flex;
}
.header__left-side-search-btn {
  background-image: url("../img/search-ico.svg");
  background-size: 26px;
}
.header__right-side {
  display: flex;
  gap: 33px;
}
.header__right-side-burger-btn {
  background-image: url("../img/burger-ico.svg");
  pointer-events: none;
}
.header__right-side-burger-checkbox {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
.header__right-side-burger-checkbox:checked ~ .popup__menu {
  visibility: visible;
  opacity: 1;
  right: 0;
}
.header__right-side-cart-btn {
  background-image: url("../img/cart-ico.svg");
}
.header__right-side-profile-btn {
  background-image: url("../img/profile-ico.svg");
  background-size: 29px;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__right-side-profile-btn, .header__right-side-cart-btn {
    position: absolute;
    visibility: hidden;
  }
}
.featured-items {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.featured-items__btn {
  background-color: transparent;
  border: 1px solid #f16d7f;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 14px 38.5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.featured-items__btn:hover {
  color: #fff;
  background-color: #f16d7f;
}
.featured-items__card {
  background-color: #fbfbfb;
  position: relative;
}
.featured-items__card-add-btn {
  padding: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: 1px solid #f16d7f;
  width: 138px;
  height: 43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.featured-items__card-img-container:hover > .featured-items__card-add-btn {
  opacity: 1;
}
.featured-items__card-img {
  width: 100%;
  cursor: pointer;
}
.featured-items__card-img-container {
  position: relative;
}
.featured-items__card-img-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: rgba(58, 56, 56, 0.86);
  opacity: 0;
  transition: opacity 0.3s;
}
.featured-items__card-img-container:hover::before {
  opacity: 1;
}
.featured-items__card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin: 0 0 19px 16px;
}
.featured-items__card-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 0 0 16px 16px;
}
.featured-items__card-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 25px 0 16px 16px;
}
.featured-items__card-link {
  text-decoration: none;
  color: #222222;
}
.featured-items__card-link:hover {
  color: #f16d7f;
}
.featured-items__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 49px;
}
.featured-items__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 48px;
}
.featured-items__title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}
@media screen and (max-width: 984px) {
  .featured-items .featured-items__cards {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 767px) {
  .featured-items .featured-items__subtitle {
    margin-bottom: 65px;
  }
  .featured-items .featured-items__cards {
    grid-template-columns: 359px;
    margin-bottom: 41px;
  }
}

.features {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
}
.features__item-ico {
  margin-bottom: 12px;
}
.features__item-subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}
.features__item-title {
  margin: 0;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 360px;
}

@media screen and (max-width: 984px) {
  .features {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .features {
    gap: 46px;
    padding-bottom: 81px;
  }
}
.footer {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #222222;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer__all-rights {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
.footer__social-item {
  width: 32px;
  height: 32px;
  background-color: #fbfbfb;
}
.footer__social-item:hover .footer__social-item-ico path {
  fill: #fbfbfb;
}
.footer__social-item:hover {
  background-color: #f16d7f;
}
.footer__social-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 43px;
    gap: 40px;
    padding-bottom: 9px;
  }
}
.offers {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  margin-top: 65px;
  margin-bottom: 96px;
}
.offers__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: scale 0.3s;
}
.offers__card_num_one {
  background-image: url("../img/offers__card1.jpg");
}
.offers__card_num_two {
  background-image: url("../img/offers__card2.jpg");
}
.offers__card_num_three {
  background-image: url("../img/offers__card3.jpg");
}
.offers__card_num_four {
  background-image: url("../img/offers__card4.jpg");
  grid-column: span 3;
}
.offers__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 22, 22, 0.7);
  transition: background-color 0.3s linear;
}
.offers__card:hover {
  scale: 1.05;
}
.offers__card:hover::before {
  background-color: rgba(33, 22, 22, 0.85);
}
.offers__card-title {
  margin: 0;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
  margin-top: 5px;
}
.offers__card-subtitle {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fbfbfb;
}
.offers__card-subtitle_num_four {
  margin-top: 65px;
}

@media screen and (max-width: 984px) {
  .offers {
    gap: 20px;
    grid-template-rows: 167px 116px;
  }
}
@media screen and (max-width: 767px) {
  .offers {
    grid-template-columns: 343px;
    grid-template-rows: repeat(3, 248px) 111px;
    margin-bottom: 64px;
  }
  .offers__card_num_four {
    grid-column: span 1;
  }
}
.popup {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  position: absolute;
}
.popup__menu {
  top: 78px;
  right: -205px;
  padding: 32px;
  background-color: #fbfbfb;
  transition: all 0.25s linear;
  z-index: 1;
}
.popup__menu-category {
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.popup__menu-category:last-child {
  margin: 0;
}
.popup__menu-category-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
.popup__menu-category-item-link:hover {
  color: #f16d7f;
}
.popup__menu-category-list {
  list-style-type: none;
  margin-top: 12px;
  padding-left: 21.5px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.popup__menu-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.popup__menu-title {
  text-transform: uppercase;
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.subscribe {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  background-image: url("../img/bg-subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 87px;
  padding-bottom: 156px;
}
.subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  gap: 30px;
}
.subscribe__left-photo {
  width: 96px;
}
.subscribe__left-text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}
.subscribe__left-text_style_itelic {
  font-style: italic;
}
.subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 557px;
}
.subscribe__right-form {
  display: flex;
}
.subscribe__right-form-button {
  border: none;
  background-color: #f16d7f;
  padding: 15px 18px;
  border-radius: 0px 18px 18px 0px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  cursor: pointer;
  transition: all 0.3s;
}
.subscribe__right-form-button:hover {
  color: #f16d7f;
  background-color: #fbfbfb;
}
.subscribe__right-form-input {
  padding: 0 17px;
  width: 256px;
  height: 52px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 18px 0 0 18px;
}
.subscribe__right-form-input::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222222;
  opacity: 0.67;
}
.subscribe__right-form-input::placeholder {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222222;
  opacity: 0.67;
}
.subscribe__right-subtitle {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
}
.subscribe__right-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

@media screen and (max-width: 984px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 54px;
    padding-bottom: 219px;
  }
}
@media screen and (max-width: 767px) {
  .subscribe {
    gap: 59px;
    padding-bottom: 110px;
  }
  .subscribe__right-form {
    width: 341px;
  }
}
.welcome {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f8f3f4;
  overflow: hidden;
}
.welcome__title {
  margin: 0;
  position: relative;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  width: 372px;
  padding-left: 28px;
}
.welcome__title_color_pink {
  color: #f16d7f;
}
.welcome__title_size_s {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.welcome__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 100%;
  background-color: #f16d7f;
}
@media screen and (max-width: 984px) {
  .welcome .welcome__img {
    height: 368px;
  }
  .welcome .welcome__title {
    font-size: 44px;
    line-height: 28px;
    width: 283px;
  }
  .welcome .welcome__title_size_s {
    font-size: 24px;
    line-height: 29px;
  }
}
@media screen and (max-width: 767px) {
  .welcome .welcome {
    justify-content: center;
  }
  .welcome .welcome__img {
    position: absolute;
    visibility: hidden;
  }
  .welcome .welcome__title {
    font-size: 38px;
    line-height: 26px;
    width: 236px;
    margin: 148px 0;
  }
  .welcome .welcome__title_size_s {
    font-size: 20px;
    line-height: 24px;
  }
}

.breadcrumbs {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f3f4;
}
.breadcrumbs__item {
  white-space: nowrap;
}
.breadcrumbs__item:not(:last-child):after {
  content: "/";
  padding-right: 8px;
  padding-left: 8px;
}
.breadcrumbs__item:last-of-type .breadcrumbs__item-link {
  color: #f16d7f;
  font-weight: bold;
}
.breadcrumbs__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 0.2em;
}
.breadcrumbs__item-link {
  text-decoration: none;
  color: #5d5d5d;
}
.breadcrumbs__item-link:hover {
  color: #f16d7f;
}

.slider {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  position: relative;
}
.slider__img {
  position: relative;
}
.slider__arrow-left {
  padding: 0;
  border: none;
  cursor: pointer;
  width: 47px;
  height: 47px;
  background-color: #e1e1e1;
  position: absolute;
  top: 50%;
  left: 0;
}
.slider__arrow-left:hover > .slider__arrow-left-ico path {
  fill: #f16d7f;
}
.slider__arrow-right {
  padding: 0;
  border: none;
  cursor: pointer;
  width: 47px;
  height: 47px;
  background-color: #e1e1e1;
  position: absolute;
  top: 50%;
  right: 0;
}
.slider__arrow-right:hover > .slider__arrow-right-ico path {
  fill: #f16d7f;
}
.slider__arrow-left-ico, .slider__arrow-right-ico {
  display: block;
  padding: 12px 17px;
}
.slider__arrow-left-ico path {
  fill: black;
}
.slider__arrow-right-ico path {
  fill: black;
}

.productDescription {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
.productDescription__wrapper {
  position: relative;
  bottom: 50px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0;
}
.productDescription__collection-title-wrapper {
  position: relative;
}
.productDescription__collection-title {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-bottom: 12px;
}
.productDescription__collection-title:before {
  content: "";
  position: absolute;
  margin: auto;
  left: 25%;
  bottom: 0;
  width: 50%;
  border-bottom: 3px solid #f16d7f;
}
.productDescription__item-title {
  margin: 12px 0 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
}
.productDescription__item-description {
  margin: 48px 0 0;
  max-width: 555px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5d5d5d;
}
.productDescription__item-price {
  margin: 32px 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
.productDescription__footer {
  display: flex;
  flex-direction: column;
}
.productDescription__sort {
  padding-top: 65px;
  margin-top: 65px;
  margin-bottom: 49px;
  border-top: 1px solid #e1e1e1;
}
.productDescription__sort-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  gap: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.productDescription__sort-item-link {
  text-decoration: none;
  color: #5d5d5d;
  position: relative;
}
.productDescription__sort-item-link::after {
  content: "";
  background-image: url("../img/arrow-sort.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 10px;
  height: 6px;
  top: 5px;
  margin-left: 9px;
}
.productDescription__btn {
  padding: 0;
  margin: auto;
  background-color: transparent;
  border: 1px solid #f16d7f;
  height: 43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  cursor: pointer;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
.productDescription__btn:hover {
  color: #fbfbfb;
  background-color: #f16d7f;
}
.productDescription__btn:hover > .productDescription__btn-ico path {
  fill: #fbfbfb;
}
.productDescription__btn-ico {
  padding-left: 24px;
}
.productDescription__btn-text {
  padding-right: 56px;
}

.filter {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: flex;
  margin-top: 51px;
  margin-bottom: 65px;
}
.filter__filter {
  position: absolute;
  width: 360px;
  z-index: 1;
}
.filter__filter[open] {
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__filter[open] .filter__filter-summary-text {
  color: #f16d7f;
}
.filter__filter[open] path {
  fill: #f16d7f;
}
.filter__filter-wrapper {
  position: relative;
  width: 360px;
  height: auto;
}
.filter__filter-summary {
  text-transform: uppercase;
  display: flex;
  gap: 11px;
  align-items: center;
  padding: 15px 0 0 16px;
  cursor: pointer;
  max-width: 70px;
}
.filter__filter-summary-text {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.filter__filter-category {
  list-style-type: none;
  margin: 46px 17px 16px 17px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.filter__filter-item-sum {
  text-transform: uppercase;
  list-style: none;
  padding: 11px 0 11px 11px;
  border-bottom: 1px solid #f16d7f;
  border-left: 5px solid #f16d7f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: grayColor;
  cursor: pointer;
}
.filter__filter-item-sum:hover {
  border-color: #222222;
}
.filter__filter-category-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 24px 0 6px 17px;
}
.filter__filter-category-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
.filter__filter-category-item-link:hover {
  color: #f16d7f;
}
.filter__sort {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 48px;
}
.filter__sort-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  text-transform: uppercase;
  position: relative;
}
.filter__sort-item:hover {
  color: #f16d7f;
}
.filter__sort-trending-det {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}
.filter__sort-size-det {
  width: 79px;
  position: relative;
  z-index: 1;
}
.filter__sort-price-det {
  position: relative;
  z-index: 1;
}
.filter__sort-size-det[open], .filter__sort-trending-det[open], .filter__sort-price-det[open] {
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__sort-size-det[open] .filter__sort-size-sum, .filter__sort-trending-det[open] .filter__sort-trending-sum, .filter__sort-price-det[open] .filter__sort-price-sum {
  color: #f16d7f;
}
.filter__sort-size-sum, .filter__sort-trending-sum, .filter__sort-price-sum {
  list-style: none;
  padding: 15px 0 15px 15px;
  cursor: pointer;
}
.filter__sort-size-sum::after, .filter__sort-trending-sum::after, .filter__sort-price-sum::after {
  content: "˅";
  padding-left: 10px;
}
.filter__sort-size-list {
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 100%;
  position: absolute;
  padding: 0;
  list-style-type: none;
  padding: 10px 0 13px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter__sort-size-checkbox {
  margin-right: 10px;
}
.filter__sort-size-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5d5d5d;
}

.cart {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: flex;
  gap: 129px;
  padding-top: 96px;
  padding-bottom: 128px;
}
.cart__items {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.cart__items-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 32.5px;
}
.cart__items-btn {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  padding: 16px 40px;
  background-color: transparent;
  border: 1px solid #5d5d5d;
  cursor: pointer;
  transition: all 0.3s;
}
.cart__items-btn:hover {
  background-color: #f16d7f;
  color: #fbfbfb;
  border-color: #f16d7f;
}
.cart__item {
  display: flex;
  width: 652px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart__item-img {
  width: 262px;
}
.cart__item-description {
  margin: 22px 0 22px 31px;
}
.cart__item-title {
  margin: 0 0 42px 0;
  max-width: 200px;
  color: #222222;
}
.cart__item-title-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
.cart__item-title-link:hover {
  color: #f16d7f;
}
.cart__item-characteristic-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cart__item-characteristic {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #5d5d5d;
}
.cart__item-characteristic-quantity {
  display: flex;
  gap: 24px;
}
.cart__item-characteristic-quantity-input {
  box-sizing: border-box;
  border: 1px solid #5d5d5d;
  width: 43px;
  padding-left: 15px;
  color: #5d5d5d;
}
.cart__item-characteristic-quantity-input::-webkit-inner-spin-button, .cart__item-characteristic-quantity-input::-webkit-outer-spin-button {
  display: none;
}
.cart__item-characteristic_color_main {
  color: #f16d7f;
}
.cart__item-close-btn {
  margin: 28px 22px 0 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-self: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s;
}
.cart__item-close-btn:hover {
  transform: rotate(360deg);
}
.cart__order {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.cart__order-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.cart__order-form input {
  padding: 13px 17px;
  border: 1px solid #5d5d5d;
}
.cart__order-form input::-moz-placeholder {
  color: #e1e1e1;
}
.cart__order-form input::placeholder {
  color: #e1e1e1;
}
.cart__order-form-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.cart__order-form-btn {
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 10px 15px;
  border: 1px solid #5d5d5d;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #5d5d5d;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.cart__order-form-btn:hover {
  background-color: #f16d7f;
  color: #fbfbfb;
  border-color: #f16d7f;
}
.cart__order-confirm {
  background-color: #f5f3f3;
  padding: 39px 34px 42px 44px;
  display: flex;
  flex-direction: column;
}
.cart__order-confirm-totals {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid #5d5d5d;
  padding-bottom: 21px;
  margin-bottom: 17px;
}
.cart__order-confirm-subtotal {
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}
.cart__order-confirm-subtotal-cost::before {
  content: "";
  margin-left: 20px;
}
.cart__order-confirm-grandtotal {
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.cart__order-confirm-grandtotal-cost {
  font-weight: bold;
  color: #f16d7f;
}
.cart__order-confirm-grandtotal-cost::before {
  content: "";
  margin-left: 20px;
}
.cart__order-confirm-btn {
  background-color: #f16d7f;
  border: none;
  text-transform: uppercase;
  color: #fbfbfb;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.3s;
}
.cart__order-confirm-btn:hover {
  background-color: transparent;
  color: #222222;
  border: 1px solid #222222;
}

.registration {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 64px 0 96px 0;
}
.registration__form {
  max-width: 360px;
}
.registration__form-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.registration__form-legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}
.registration__form-input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 17px;
  border: 1px solid #5d5d5d;
  margin-bottom: 21px;
}
.registration__form-input::-moz-placeholder {
  color: #e1e1e1;
}
.registration__form-input::placeholder {
  color: #e1e1e1;
}
.registration__form-radiobox {
  display: flex;
  margin-top: 10px;
  margin-bottom: 33px;
}
.registration__form-sexlabel {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
  cursor: pointer;
}
.registration__form-sexlabel:not(:last-of-type) {
  margin-right: 20px;
}
.registration__form-sexradio {
  margin-right: 10px;
  cursor: pointer;
}
.registration__form-password-description {
  margin: 0 0 39px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #e1e1e1;
}
.registration__form-submit-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 16px 29px;
  background-color: #f16d7f;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.registration__form-submit-btn-text {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
}
.registration__form-submit-btn:hover {
  background-color: #fbfbfb;
  outline: 1px solid #f16d7f;
  color: #f16d7f;
}
.registration__form-submit-btn:hover path {
  fill: #f16d7f;
}
.registration__form-submit-btn:hover p {
  color: #f16d7f;
}
.registration__description {
  max-width: 652px;
}
.registration__description-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 22px;
}
.registration__description-text {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 21px;
}
.registration__description-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registration__description-list-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
.registration__description-list-item::before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='20'%20height='16'%20viewBox='0%200%2020%2016'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M19.8035%200H18.0904C17.8502%200%2017.6222%200.111827%2017.4752%200.303176L7.3702%2013.2826L2.52481%207.05754C2.45151%206.96318%202.35808%206.88688%202.25153%206.83438C2.14499%206.78187%202.0281%206.75451%201.90963%206.75437H0.196467C0.032258%206.75437%20-0.0584248%206.94572%200.0420614%207.07494L6.75503%2015.6981C7.06874%2016.1006%207.67166%2016.1006%207.98782%2015.6981L19.9579%200.318087C20.0584%200.191349%2019.9677%200%2019.8035%200V0Z'%20fill='black'/%3E%3C/svg%3E");
  margin-right: 23px;
}