.featured-items__card-img-container {
  position: relative;
}
.featured-items__card-img-container::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: rgba(58, 56, 56, 0.86);
  opacity: 0;
  transition: opacity 0.3s;
}

.featured-items__card-img-container:hover::before {
  opacity: 1;
}
