.footer {
  font-family: 'Lato';
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 43px;
    gap: 40px;
    padding-bottom: 9px;
  }
}
