.offers__card_num_two {
  background-image: url('../../../../img/offers__card2.jpg');
  background-size: 100%;
  position: relative;
}

.offers__card_num_two::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 22, 22, 0.7);
}
